body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #d7dde3;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1; 
    border-color: #dd5815;  
}

.buffer {
	height: 10rem;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #dd5815;
	border-color: #dd5815;
}

.btn-primary:hover {
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
}
.btn-lg {
	padding: 1rem 2rem;
}